mat-drawer-container {
    width: 100%;
    height: 100%;

    .listOptions {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        a {
            margin-top: 15px;
            margin-right: 50px;
            margin-left: 50px;
        }
    }

    mat-toolbar{
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}